body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 800px;
  }
}
